@use "../1-base/colors";
@use "../1-base/mixinMedia" as media;

.theme{
    text-align: center;

    .icon-theme{
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        color: azure;
        cursor: pointer;

        @include media.desktop{
            &:hover{
                color:colors.$equalGreen;
            }
        }
    }
}

@mixin  light {
    background-color:colors.$light;
}

@mixin dark {
    background-color: colors.$numericBlac;
}