$gradientGrey:linear-gradient(to bottom, rgb(141, 141, 141), rgb(255, 255, 255));
$numericBlac:rgba(3, 3, 3, 0.8);
$operationGrey:rgba(39, 39, 39, 0.4);
$equalGreen:rgb(37, 145, 109);
$textPrimary:rgb(245, 245, 245);
$textSecundary:rgb(212, 212, 212);
$borderGrey:#aaa;
$light:rgb(255,255,255);
$dark:rgb(0, 0, 0);