$gradientGrey:linear-gradient(to bottom, rgb(43, 43, 43), rgb(241, 241, 241));
$numericBlac:rgba(3, 3, 3, 0.8);
$operationGrey:rgba(39, 39, 39, 0.4);
$equalGreen:rgb(37, 145, 109);
$textPrimary:rgb(245, 245, 245);
$textSecundary:rgb(212, 212, 212);
$borderGrey:#aaa;