@use "../1-base/font";
@use "../1-base/colors";
@use "../1-base/mixinMedia" as media;


#container{
    width: 350px;
    box-shadow: 0px 0px 10px colors.$borderGrey;
    margin: 10vh auto;
    transition: .5s background-color ease-in-out;

    @include media.mobile{
        width: 90vw;
    }
}