@use "../1-base/font";
@use "../1-base/colors";
@use "../1-base/mixinMedia" as media;


#container{
    width: 350px;
    border:1px solid colors.$borderGrey;
    margin: 10vh auto;
    transition: .5s background-color ease-in-out;

    @include media.mobile{
        width: 80vw;
    }
}